.my-blog {
  scroll-behavior: smooth;
  &__section-1 {
    background: url("../../images/5-bg.jpg") no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    min-height: 100vh !important;
    &-content {
      min-height: 100vh !important;
      background: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
    &-title-1 {
      font-style: italic;
      color: #ffffff;
    }
    &-title-2 {
      font-style: italic;
      color: #e2bf8a;
    }
    &-btn-1 {
      background-color: #a1492191;
      font-weight: 600 !important;
      color: #ffffff !important;
      border-radius: 50px !important;
      border: 1px solid #dbaf6d;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: #ffffff96;
        font-weight: 600 !important;
        color: #4e4836 !important;
      }
    }
  }
}

.blog-details {
  scroll-behavior: smooth;
  &__section-1 {
    background: linear-gradient(#000000, #4e4836);
    position: relative;
    &-bg {
      background: url("../../images/avatar.jpg") no-repeat !important;
      background-size: cover !important;
      opacity: 0.1;
      background-position: center !important;
      position: absolute;
      z-index: 0;
      width: 100%;
    }
  }
}

.ckeditor-content {
  font-size: 16px;
  color: #333;
  line-height: 1.5;

  .ck-editor__editable {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }

  p {
    font-weight: 400 !important;

    strong {
      font-weight: 600 !important;
    }
  }

  h1 {
    font-weight: 700 !important;
    font-size: 20px !important;
  }

  h2 {
    font-weight: 600 !important;
    font-size: 18px !important;
  }

  h3 {
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  h4 {
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  h5 {
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  h6 {
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  iframe {
    max-width: 100%;
    height: auto;
  }

  figure {
    width: fit-content !important;
    img {
      width: 100% !important;
    }
    figcaption {
      padding: 4px;
      background-color: #eaeaea;
      color: #797979;
      font-weight: 400;
    }
  }
}
