.my-blog {
  scroll-behavior: smooth;
  &__section-1 {
    background: url("../../images/5-bg.jpg") no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    min-height: 100vh !important;
    &-content {
      min-height: 100vh !important;
      background: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
    &-title-1 {
      font-style: italic;
      color: #ffffff;
    }
    &-title-2 {
      font-style: italic;
      color: #e2bf8a;
    }
    &-btn-1 {
      background-color: #4e48367c;
      font-weight: 600 !important;
      color: #ffffff !important;
      border-radius: 50px !important;
      border: 1px solid #dbaf6d;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: #ffffff96;
        font-weight: 600 !important;
        color: #4e4836 !important;
      }
    }
  }
}
