.my-course {
  scroll-behavior: smooth;
}
.my-course .prevent-select {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.my-course__section-1 {
  background: linear-gradient(#000000, #4e4836);
  position: relative;
}
.my-course__section-1-bg {
  background: url("../../images/course-banner.jpg") no-repeat !important;
  background-size: cover !important;
  opacity: 0.1;
  background-position: center !important;
  position: absolute;
  z-index: 0;
  width: 100%;
}
.my-course__section-1-content {
  position: relative;
  z-index: 1;
}
.my-course__section-1-content-title-1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}
.my-course__section-1-content-title-2 {
  font-family: DFVNFloat, serif;
  color: #fff;
  text-shadow: 4px 4px 0px rgba(219, 175, 109, 0.5607843137);
}
.my-course__section-1-content-btn {
  background-color: rgba(161, 73, 33, 0.568627451);
  font-weight: 600 !important;
  color: #ffffff !important;
  border-radius: 50px !important;
  border: 1px solid #dbaf6d;
  transition: 0.3s ease-in-out;
}
.my-course__section-1-content-btn:hover {
  background-color: rgba(255, 255, 255, 0.5882352941);
  font-weight: 600 !important;
  color: #4e4836 !important;
}
.my-course__section-2 {
  background-image: linear-gradient(#4e4836, #131413);
}
.my-course__section-2-title-1 {
  font-style: italic;
  color: #e2bf8a;
  font-weight: 600 !important;
}
.my-course__section-3 {
  background: linear-gradient(#000000, #4e4836);
  position: relative;
}
.my-course__section-3-bg {
  background: url("../../images/6-bg.jpg") no-repeat !important;
  background-size: cover !important;
  opacity: 0.1;
  background-position: center !important;
  position: absolute;
  z-index: 0;
  width: 100%;
}
.my-course__section-3-content {
  position: relative;
  z-index: 1;
}
.my-course__section-3-content .text-hl {
  animation: glow 1.5s infinite alternate;
  border-radius: 50px !important;
}
@keyframes glow {
  50% {
    box-shadow: 0 0 40px #ffbf00;
  }
}
.my-course__section-3-content .fee-banner {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.my-course__section-3-content .fee-banner:hover {
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.13);
}
.my-course__section-3-content .fee-banner-content {
  transition: 0.5s ease-in-out;
}
.my-course__section-3-content .fee-banner-content-second {
  text-align: left !important;
}
.my-course__section-4 {
  background: url("../../images/paper.png") no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.my-course__section-5 {
  background: url("../../images/6-bg.jpg") no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
}
.my-course__section-5-content {
  min-height: 100vh !important;
  background: rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.my-course__section-5-content-title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.my-course__section-5-content-title .title-decoration {
  position: absolute;
  background: linear-gradient(to right, #005245, #dbaf6d);
  z-index: 2;
  bottom: 0;
  left: 0;
}
.my-course__section-5-content-title .title-text {
  position: relative;
  z-index: 3;
}
.my-course__section-5-content .my-blog {
  transition: 0.4s ease-in-out;
}
.my-course__section-5-content .my-blog:hover .blog-content {
  transition: 0.4s ease-in-out;
  background: #ffffff;
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 20px;
}
.my-course__section-5-content .my-blog:hover .blog-content a {
  color: #00221d;
}
.my-course__section-5-content .my-blog:hover .blog-content time {
  color: #00221d;
}
.my-course__section-5-content .my-blog:hover .blog-content p {
  color: #00221d;
}
.my-course__section-5-btn {
  background-color: rgba(161, 73, 33, 0.568627451);
  font-weight: 600 !important;
  color: #ffffff !important;
  border-radius: 50px !important;
  border: 1px solid #dbaf6d;
  transition: 0.3s ease-in-out;
}
.my-course__section-5-btn:hover {
  background-color: rgba(255, 255, 255, 0.5882352941);
  font-weight: 600 !important;
  color: #4e4836 !important;
}/*# sourceMappingURL=styles.css.map */